aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
backoff==2.2.1
certifi==2023.5.7
charset-normalizer==3.1.0
cmake==3.27.4.1
Django==5.0
fairscale==0.4.13
filelock==3.12.3
fire==0.5.0
frozenlist==1.3.3
idna==3.4
Jinja2==3.1.2
lit==16.0.6
-e git+https://github.com/ErnestinaQiu/llama.git@46646b8e2d6f04027de7bf80411f97fd6adb9c9e#egg=llama
MarkupSafe==2.1.3
mpmath==1.3.0
multidict==6.0.4
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
pandas==2.0.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
sentencepiece==0.1.99
six==1.16.0
sqlparse==0.4.4
sympy==1.12
termcolor==2.3.0
torch==2.0.1
tqdm==4.65.0
triton==2.0.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.2
yarl==1.9.2
