paddleslim @ https://paddle-qa.bj.bcebos.com/PaddleSlim/paddleslim-0.0.0.dev0-py3-none-any.whl
paddlenlp @ https://paddlenlp.bj.bcebos.com/wheels/paddlenlp-ci-py3-none-any.whl
requests==2.25.1
regex==2022.7.25
colorlog==6.6.0
colorama==0.4.5
omegaconf==2.2.2
tqdm>=4.62.1
pybind11==2.10.0
opencv-python>=4.2.0.32
Pillow==9.3.0
blobfile==1.3.3
