aistudio-sdk>=0.1.3
colorama
colorlog
datasets >= 2.0.0
dill<0.3.5
fastapi
Flask-Babel
huggingface_hub>=0.19.2
jieba
jinja2
multiprocess<=0.70.12.2
numpy
onnx>=1.10.0
packaging
paddle2onnx
paddlefsl
protobuf==3.20.2 ; platform_system == "Windows"        # onnx require: protobuf<4,>=3.20.2, paddle require different version on platforms, refer to: https://github.com/PaddlePaddle/Paddle/blob/cd88156a369bbfb83d6306f89e0ae6ebd78b8040/python/requirements.txt#L3
protobuf>=3.20.2 ; platform_system != "Windows"
regex
rich
safetensors
sentencepiece
seqeval
tiktoken
tokenizers>=0.13.3
tool_helpers==0.1.1 ; platform_system == "Linux"
tqdm
typer
uvicorn
visualdl