paddleocr
pre-commit
pytest==8.1.1
parameterized
pytest-cov
regex
pytest-xdist
pytest-timeout
fast_tokenizer_python
emoji
ftfy
yacs
unidecode
soundfile
librosa
numpy==1.23.5
rouge
tiktoken
visualdl
wandb
tensorboard
modelscope
hyperopt
h5py
deploy
ray
loguru
data
wget
huggingface_hub>=0.19.2
