opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
protobuf==3.20.2
regex
attrdict==2.0.1
easydict==1.10.0
PyYAML
subword_nmt==0.3.7
visualdl
pandas
pyrouge
nltk
beautifulsoup4
pybind11
zstandard
pypinyin
pycryptodome
bce-python-sdk==0.8.74
packaging
psutil
pynvml
GPUtil
lac
yacs
coverage
h5py
pytest
pytest-timeout
parameterized
scikit-learn
cma
paddleocr
https://paddle-qa.bj.bcebos.com/PaddleSlim/paddleslim-0.0.0.dev0-py3-none-any.whl
fast_dataindex
emoji
ftfy
unidecode
onnxruntime
sacremoses
soundfile
librosa
gradio>=3.45.0
tiktoken
wget
allure-pytest