parameterized
sentencepiece
regex
torch>=1.5
transformers
tool_helpers
sacremoses
pydantic==1.10.9
modelscope
hyperopt
h5py
deploy
ray
loguru==0.6.0
data
wget
huggingface_hub>=0.19.2
protobuf==3.20.2
pytest-retry
gradio
paddleslim
