.DS_Store
.idea
.gradle
.cxx
cache
build
app/cache
app/libs/*
app/.cxx
app/build
app/src/main/assets/models/*
app/.gradle
app/.idea
ernie_tiny/cache
ernie_tiny/libs/fastdeploy*
ernie_tiny/.cxx
ernie_tiny/build
ernie_tiny/src/main/assets/models/*
ernie_tiny/.gradle
ernie_tiny/.idea
ui/build
ui/.gradle
ui/cache