paddlenlp>=2.5.2
paddleocr
pdf2image>1.14
requests
pydantic
mmh3
more_itertools
elasticsearch>=7.7,<=7.10
sqlalchemy>=1.4.2,<2
sqlalchemy_utils
langdetect
python-docx
nltk
pdfplumber
faiss-cpu>=1.7.2
opencv-python>=4.4
opencv-contrib-python-headless
python-multipart
st-annotated-text
click==8.0
streamlit==1.11.1
fastapi
uvicorn
markdown
numba
pymilvus>=2.1
wordcloud==1.8.2.2
