paddlepaddle-gpu
paddlenlp
paddleocr
requests
pydantic
mmh3
more_itertools
elasticsearch>=7.7,<=7.10
sqlalchemy>=1.4.2,<2
sqlalchemy_utils
langdetect
python-docx
nltk
pdfplumber
faiss-cpu>=1.7.2
opencv-python
opencv-contrib-python-headless
python-multipart
st-annotated-text
streamlit==1.9.0
fastapi
uvicorn
markdown
numba