aniso8601==9.0.1
ansi2html==1.6.0
arrow==1.2.1
astor==0.8.1
astroid==2.4.2
autopep8==1.5.4
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
bce-python-sdk==0.8.62
blis==0.7.5
brotlipy==0.7.0
catalogue==1.0.0
certifi==2021.10.8
cffi @ file:///tmp/build/80754af9/cffi_1625807838443/work
cfgv==3.3.1
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==7.1.2
colorama==0.4.4
colorlog==6.6.0
cryptography @ file:///tmp/build/80754af9/cryptography_1635366571107/work
cycler==0.11.0
cymem==2.0.6
decorator==4.4.2
dill==0.3.4
distlib==0.3.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
et-xmlfile==1.1.0
filelock==3.4.0
flake8==4.0.1
Flask==2.0.2
Flask-Babel==2.0.0
Flask-RESTful==0.3.9
fonttools==4.28.1
future==0.18.2
gast==0.3.3
h5py==3.6.0
identify==2.3.6
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==2.0.1
jedi==0.18.0
jieba==0.42.1
Jinja2==3.0.3
joblib==1.1.0
jupyter-client==6.2.0
jupyter-core==4.7.1
kiwisolver==1.3.2
LAC==2.1.2
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.2
mccabe==0.6.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
multiprocess==0.70.12.2
murmurhash==1.0.6
nest-asyncio==1.5.1
nodeenv==1.6.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095647912/work
nvgpu==0.9.0
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
openpyxl==3.0.9
packaging==21.2
paddlefsl==1.0.0
paddlenlp==2.1.1
paddlepaddle-gpu==2.1.0
pandas==1.3.4
parso==0.8.2
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
plac==1.1.3
platformdirs==2.4.0
pre-commit==2.15.0
preshed==3.0.6
prompt-toolkit==3.0.18
protobuf==3.17.2
psutil==5.8.0
ptyprocess==0.7.0
pycodestyle==2.8.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.11.0
pydantic==1.8.2
pyflakes==2.4.0
Pygments==2.9.0
pylint==2.6.0
pynvml==11.0.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing==2.4.7
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.8.1
pytz==2021.3
PyYAML==6.0
pyzmq==22.1.0
regex==2021.11.10
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
scikit-learn==1.0.1
scipy==1.7.2
seqeval==1.2.2
setuptools-scm==6.3.2
shellcheck-py==0.8.0.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.2.1
spacy==2.3.7
spacy-legacy==3.0.8
srsly==1.0.5
tabulate==0.8.9
termcolor==1.1.0
thinc==7.4.5
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
typer==0.3.2
typing_extensions==4.0.0
urllib3==1.26.7
virtualenv==20.10.0
visualdl==2.2.2
wasabi==0.8.2
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.12.1
yapf==0.31.0
