pymilvus==1.1.2
pandas==0.25.1 
paddlenlp>=2.3.4    
paddlepaddle-gpu>=2.3.0
hnswlib>=0.5.2
numpy>=1.17.2
visualdl>=2.2.2
paddle-serving-app>=0.7.0        
paddle-serving-client>=0.7.0        
paddle-serving-server-gpu>=0.7.0.post102
pybind11