# Defining the exact version will make sure things don't break

urllib3==1.26.2    # fix urllib3 version dependency: https://github.com/psf/requests/issues/6432#issuecomment-1537221990
scipy==1.9.1
aiohttp==3.8.4
numpy<1.27.0,>=1.19.5
h11<0.13,>=0.11
jinja2
sphinx
sphinx_book_theme
readthedocs-sphinx-search
sphinx-rtd-theme
recommonmark

Markdown
sphinx-copybutton
sphinx-markdown-tables

# use paddlepaddle == 2.3.* according to: https://github.com/PaddlePaddle/Paddle/issues/48243
paddlepaddle>=2.4.2
paddlenlp
